.opcoesDaPagina {
	display: inline-block;
	vertical-align: middle;

	font-size: 1rem;
}

.opcoesDaPagina-opcao {
	font-size: 1em;
	vertical-align: middle;
	font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
}

.opcoesDaPagina-opcao + .opcoesDaPagina-opcao {
	margin-left: 1em;
}

.opcoesDaPagina-botao {
	border: none;
	background: rgba(0,0,0,0);
	color: white;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	flex: 0 0 auto;
	height: 48px;
	width: 48px;
	background-image: url(../img/blocos_branco.svg);
}

.opcoesDaPagina-opcao#busca {
	border: none;
	padding: .2em;
}

.icon--linha{
	background-image: url(../img/linhas_branco.svg);

}
